* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}



button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1000;

}

main {
    height: 100%;
    width: 100%;
    gap: 20px;
    position: relative;
}


main>button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}