* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.counterContainer {
    font-size: 40px;
}

.ButtonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}


button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;

}