* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #0f0f0f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.outerbox {

  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #d85c5c;
}

.innerbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#innerbox1 {
  background: #5cd8a6;
  padding: 10px;
  height: 180px;
  border-radius: 30px 30px 30px 30px;
}

#innerbox2 {
  background: #5c9ed8;
  padding: 10px;
  height: 180px;
  border-radius: 30px 90px 90px 30px;
}